@import '/assets/bootstrap/css/bootstrap.min.css';

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
    background-color: #FFC38D;
}

.page-header h1 {
    font-size: 6vw;
}

.page-header h3 {
    font-size: 3vw;
}

#hand_div h2 {
	text-align: center;
    font-size: 3.2vw;
    margin-left: .4vw;
    margin-right: .4vw;
    font-weight: bold;
}

input {
    font-size: 1.6vw;
}

/* By default, hide main div and show username */
#mainDiv {
    display: none
}

#username_div {
    display: inline;
	column-gap: 20px;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 8px;
    outline: black solid 4px;
    transition: .5s;
    margin: 1rem;
    max-height: fit-content; min-height: 58vw;
}

/*.card {*/
/*    !*display: block;*!*/

/*    background-color: white;*/
/*    border-radius: 8px;*/

/*    outline: black solid 4px;*/

/*    max-width: 32vw; min-width: 32vw;*/
/*    max-height: fit-content; min-height: 58vw;*/

/*    transition: .5s;*/

/*    margin: 1vh auto;*/
/*}*/

.card p {
    margin: 0.5rem;
    font-size: 2.8vw;
}

.card input {
    visibility: hidden;
}

.card:has(> input:checked) {
    background-color: gainsboro;
}

/*#hand_div {*/
/*    display: block;*/
/*    position: relative;*/
/*    right: 18.5vw;*/
/*}*/

/*#cardSelect {*/
/*    display: flex;*/
/*}*/

/*.buttons {*/
/*    display: flex;*/
/*	column-gap: 20px;*/
/*    justify-content: center;*/
/*}*/

/*.buttons button {*/
/*	border: none;*/
/*	padding: 5vw 10vw;*/

/*	border-radius: 8px;*/
/*    border-color: black;*/

/*    background-color: white;*/

/*    font-size: 3vw;*/
/*}*/
/*		*/
/*.buttons button:active {*/
/*	outline-color: black;*/
/*    outline-style: solid;*/
/*    outline-width: 4px;*/
/*}*/